camply==0.34.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.1.8
fake-useragent==1.4.0
idna==3.13
markdown-it-py==2.2.0
mdurl==0.1.2
numpy==2.4.4
pandas==2.3.3
pydantic==1.10.26
Pygments==2.20.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2023.4
PyYAML==6.0.3
ratelimit==2.2.1
requests==2.31.0
rich==13.3.5
rich-click==1.6.1
six==1.17.0
tenacity==8.2.3
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
